page-changepassword {
    .loginBtn {  
        background: #649941;
         margin-top: 20px; 
        color: #fff;
        height: 45px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 5px;
        font-family: 'Lato', sans-serif;
    }
}
