<ion-header>
  <ion-navbar>
    <div class="w100p disFlex">
      <div class="w15p tc"> <img src="../../assets/imgs/left-arrow.png" class="h30 w25" (click)="gotoRegister2Page()">
      </div>
      <div class="w50p"> <img src="../../assets/imgs/ic_logo.png" class="h30"></div>
      <div class="w35p tr"> <img src="../../assets/imgs/step_3.png" class="h30"></div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="mt15">
      <p class="f14 fw500 colorED7 ">OTHER DETAILS</p>
    </div>
    <ion-list>
      <div class="disFlex w100p">

        <div class="w50p mr5">
          <label class="f12 fLato ls04 allfont">Self Gotra <span class="colorRed">*</span></label>
          <div class="mb10 mt3">
            <ng-select [items]="gotraList" bindLabel="name" bindValue="name" placeholder="Enter Gotra"
              [(ngModel)]="selectedGotra" [searchable]="true" [clearSearchOnAdd]="true" [clearable]="true"
              (keyup)="onkeypress($event)" (change)="onChangeGotra($event)" [dropdownPosition]="bottom">

              <ng-template ng-label-tmp let-item="item">
                <div style="display: flex;">
                  {{item.name}}
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div style="display: flex; padding-top: 2px;">
                  <b>{{item.name}}</b>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="w50p ml5">
          <label class="f12 fLato ls04 allfont">Khap </label>
          <div class="mb10 mt3">
            <ng-select [items]="khap" bindLabel="name" bindValue="name" placeholder="Choose Khap"
              [(ngModel)]="selectedKhap" [searchable]="true" [clearSearchOnAdd]="true" [clearable]="true"
              (change)="onChangeKhap($event)" [dropdownPosition]="bottom">

              <ng-template ng-label-tmp let-item="item">
                <div style="display: flex;">
                  {{item.name}}
                </div>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div style="display: flex; padding-top: 2px;">
                  <b>{{item.name}}</b>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <!-- <div class="f_gotra">
          <label class="f12 fLato ls04 allfont">Gotra <span class="colorRed">*</span></label>
          <ion-list>
            <ion-searchbar (search)="onChangeGotra1(input,'gotra')" [(ngModel)]="input" (ionClear)="onClear($event,'gotra')"></ion-searchbar>
            <div *ngIf="flag == 1" class="gotra">
              <ion-item (click)="onItemClick(item.name,'gotra')" *ngFor="let item of gMGotra2; let i = index">
                <ion-label>{{item.name}}</ion-label>
                <ion-radio [value]="item.name" ></ion-radio>
              </ion-item>
            </div>
          </ion-list>
        </div> -->


      </div>

      <div class="disFlex w100p">
        <div class="w50p mr5">
          <div *ngIf="gotraBox">
            <label class="f12 fLato ls04 allfont">Other Details <span class="colorRed">*</span></label>
            <ion-item class="mb10 mt3">
              <ion-input type="text" placeholder="Enter Gotra Other Details" [(ngModel)]="GotraBoxDetail"
                (change)="onChangeGotraBox($event)" clearOnEdit="false"></ion-input>
            </ion-item>
          </div>
        </div>
        <div class="w50p ml5">
          <div *ngIf="khapBox">
            <label class="f12 fLato ls04 allfont">Other Details </label>
            <ion-item class="mb10 mt3">
              <ion-input type="text" placeholder="Enter Khap Other Details " [(ngModel)]="KhapBoxDetail"
                (change)="onChangeKhapBox($event)" clearOnEdit="false"></ion-input>
            </ion-item>
          </div>
        </div>

      </div>



      <label class="f12 fLato ls04 allfont">Mother Gotra </label>
      <div class="mb10 mt3">
        <ng-select [items]="motherGotraList" bindLabel="name" bindValue="name" placeholder="Enter Mother Gotra"
          [(ngModel)]="selectedMGotra" [searchable]="true" [clearSearchOnAdd]="true" [clearable]="true"
          (change)="onChangeMGotra($event)" (keyup)="onkeypressmgotra($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <!-- <ion-list>
        <ion-searchbar (search)="onChangeGotra1(input,'mGotra')" [(ngModel)]="inputmGotra" (ionClear)="onClear($event,'mGotra')"></ion-searchbar>
        <div  *ngIf="flagMgotra == 1" class="gotra">
          <ion-item (click)="onItemClick(item.name,'mGotra')" *ngFor="let item of gMGotra2; let i = index">
            <ion-label>{{item.name}}</ion-label>
            <ion-radio [value]="item.name" ></ion-radio>
          </ion-item>
        </div>
      </ion-list> -->
      <div *ngIf="motherGotraBox">
        <label class="f12 fLato ls04 allfont">Other Details </label>
        <ion-item class="mb10 mt3">
          <ion-input type="text" placeholder="Enter Mother Gotra Other Details" [(ngModel)]="MotherGotraBoxDetails"
            (change)="onChangeMotherGotraBox($event)" clearOnEdit="false"></ion-input>
        </ion-item>
      </div>


      <label class="f12 fLato ls04 allfont">Grand Mother Gotra</label>
      <!-- <ion-list>
        <ion-searchbar (search)="onChangeGotra1(input,'gmGotra')" [(ngModel)]="inputGmGotra" (ionClear)="onClear($event,'gmGotra')"></ion-searchbar>
        <div  *ngIf="flagGMgotra == 1" class="gotra">
          <ion-item (click)="onItemClick(item.name,'gmGotra')" *ngFor="let item of gMGotra2; let i = index">
            <ion-label>{{item.name}}</ion-label>
            <ion-radio [value]="item.name" ></ion-radio>
          </ion-item>
        </div>
      </ion-list> -->
      <div class="mb10 mt3">
        <ng-select [items]="gmotherGotraList" bindLabel="name" bindValue="name" placeholder="Enter Grand Mother Gotra"
          [(ngModel)]="selectedGMGotra" [searchable]="true" [clearSearchOnAdd]="true" [clearable]="true"
          (change)="onChangeGMGotra($event)" (keyup)="onkeypressGmgotra($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <label class="f12 fLato ls04 allfont">Other Gotra </label>
      <div class="mb10 mt3">
        <ng-select [items]="othergotraList" bindLabel="name" bindValue="name" placeholder="Enter Other Gotra"
          [(ngModel)]="othergotra" [searchable]="true" [clearSearchOnAdd]="true" [clearable]="true"
          (change)="onChangeOtherGotra($event)" (keyup)="onkeypressOthergotra($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>


      <label class="f12 fLato ls04 allfont">Religion <span class="colorRed">*</span></label>
      <div class="mb10 mt3">
        <ng-select [items]="religion" bindLabel="name" bindValue="name" placeholder="Choose Religion"
          [(ngModel)]="selectedReligion" [searchable]="false" [clearSearchOnAdd]="true" [clearable]="true"
          (change)="onChangeReligion($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div *ngIf="religionBox">
        <label class="f12 fLato ls04 allfont">Other Details <span class="colorRed">*</span></label>
        <ion-item class="mb10 mt3">
          <ion-input type="text" placeholder="Enter Religion Other Details" [(ngModel)]="religionBoxDetails"
            (change)="onChangeReligionBox($event)" clearOnEdit="false"></ion-input>
        </ion-item>
      </div>

      <div class="mt15">
        <p class="f14 fw500 colorED7 ">EDUCATION DETAILS</p>
      </div>
      <label class="f12 fLato ls04 allfont">Education Level <span class="colorRed">*</span></label>
      <div class="mb10 mt3">
        <ng-select [items]="educationLevel" bindLabel="name" bindValue="name" placeholder="Choose Education Level"
          [(ngModel)]="selectedEducationLevel" [multiple]="true" [searchable]="false" [clearSearchOnAdd]="true"
          [clearable]="true" (change)="onChangeEducationLevel($event)" [dropdownPosition]="bottom">
          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div *ngIf="educationLevelBox">
        <label class="f12 fLato ls04 allfont">Other Details <span class="colorRed">*</span></label>
        <ion-item class="mb10 mt3">
          <ion-input type="text" placeholder="Enter Education Level Other Details"
            [(ngModel)]="educationLevelBoxDetails" (change)="onChangeEducationLevelBox($event)" clearOnEdit="false">
          </ion-input>
        </ion-item>
      </div>

      <label class="f12 fLato ls04 allfont">Education Field <span class="colorRed">*</span></label>
      <div class="mb10 mt3">
        <ng-select [items]="educationField" bindLabel="name" bindValue="name" placeholder="Choose Education Field"
          [(ngModel)]="selectedEdeducationField" [multiple]="true" [searchable]="false" [clearSearchOnAdd]="true"
          [clearable]="true" (change)="onChangeEdeducationField($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div *ngIf="educationFieldBox">
        <label class="f12 fLato ls04 allfont">Other Details <span class="colorRed">*</span></label>
        <ion-item class="mb10 mt3">
          <ion-input type="text" placeholder="Enter Education Field Other Details"
            [(ngModel)]="educationFieldBoxDetails" (change)="onChangeEducationFieldBox($event)" clearOnEdit="false">
          </ion-input>
        </ion-item>
      </div>

    </ion-list>
  </div>
  <div>
    <div class="mt15">
      <p class="f14 fw500 colorED7 ">PROFESSIONAL DETAILS</p>
    </div>
    <ion-list>
      <label class="f12 fLato ls04 allfont">You Work With <span class="colorRed">*</span></label>
      <ion-item class="mb10 mt3">
        <ion-input type="text" value="" placeholder="Enter Working Organization" class="fLato" [(ngModel)]="workwith"
          (change)="onChangeWorkWith($event)" clearOnEdit="false">
        </ion-input>
      </ion-item>

      <label class="f12 fLato ls04 allfont">Designation <span class="colorRed">*</span></label>
      <div class="mb10 mt3">
        <ng-select [items]="designation" bindLabel="name" bindValue="name" placeholder="Choose Designation"
          [(ngModel)]="selectedDesignation" [searchable]="false" [clearSearchOnAdd]="true" [clearable]="true"
          (change)="onChangeDesignation($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.name}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.name}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div *ngIf="designationBox">
        <label class="f12 fLato ls04 allfont">Other Details <span class="colorRed">*</span></label>
        <ion-item class="mb10 mt3">
          <ion-input type="text" placeholder="Enter Designation Other Details" [(ngModel)]="designationBoxDetails"
            (change)="onChangeDesignationBox($event)" clearOnEdit="false"></ion-input>
        </ion-item>
      </div>

      <label class="f12 fLato ls04 allfont">Annual Income <span class="colorRed">*</span></label>
      <div class="mb10 mt3">
        <ng-select [items]="income" bindLabel="income" bindValue="income" placeholder="Choose Annual Income"
          [(ngModel)]="selectedIncome" [searchable]="false" [clearSearchOnAdd]="true" [clearable]="true"
          (change)="onChangeIncome($event)" [dropdownPosition]="bottom">

          <ng-template ng-label-tmp let-item="item">
            <div style="display: flex;">
              {{item.income}}
            </div>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div style="display: flex; padding-top: 2px;">
              <b>{{item.income}}</b>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <label class="f12 fLato ls04 allfont"><span>About Myself</span> <span class="colorRed"> *</span><span
          class="color649 fr">Max 50 Character</span></label>
      <ion-item class="mb10 mt3" style="height: 80px">
        <ion-textarea rows="5" value="" placeholder="Write something about you" class="fLato" [(ngModel)]="myself"
          maxlength="50" (change)="onChangeMyself($event)"></ion-textarea>
      </ion-item>

    </ion-list>
    <button ion-button full class="loginBtn fExo" type="submit" [disabled]="disableButton" (click)="signUp()">Sign
      Up</button>

  </div>
</ion-content>