page-profile {
  .listText {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .arrow {
    height: 15px;
    vertical-align: middle;
  }
  .textP {
    font-size: 14px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.5px;
  }
  .p16 {
    padding: 16px;
    padding-top: 0px;
  }
  .imgFit {
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    height: 260px;
    object-fit: cover;
  }
  .proDiv {
    position: absolute;
    top: 6%;
    width: 100%;
    text-align: center;
  }
  .proImg {
    border: 2px solid #fff;
    border-radius: 100%;
    height: 100px;
    object-fit: cover;
    width: 100px;
  }
  .proText {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
    font-family: "Lato", sans-serif;
  }
  .proImgList {
    border: 2px solid #fff;
    border-radius: 100%;
    height: 55px;
    object-fit: cover;
    width: 55px;
  }
  .topDiv{
    position: absolute;
    width: 100%;
    height: 260px;
    background-image: linear-gradient(transparent -40%, rgba(0,0,0,1));
  }

  .user_img{
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 100%;
}
.img_div{
    // padding: 16px;
    background: #20273A;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
}
.camera_img{
    height: 20px;
    width: 20px;
    margin: auto;
    display: block;
   
}
.camera_div{
    float: right;
    z-index: 878668;
    margin: -5px -15px;
    width: 32px;
    height: 32px;
    display: flex;
    background: #649941;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.file_chooser{    
  height: 30px;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  // top: 115px;
  // left: 35px;
  opacity: 0;
  // right: 0;
  margin: auto;
  z-index: 99999;
}

.camera_div1{
  float: right;
  z-index: 878668;
  margin: -5px -15px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #649941;
  border-radius: 100px;
  position: absolute;
  bottom: 7px;
  right: 28px;
}
.camera_img1{
  height: 14px;
  width: 14px;
  margin: auto;
  display: block;
 
}
.aDiv{
  text-align: right;
  padding-right: 20px;
  margin: auto;
}
.stepBg{
  background-color: rgba(100, 153, 65, 0.1);
}
.textDet{
  height: 40px;
  width: 100%;
  text-align: left;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #3c3939;
  letter-spacing: 0.4px;
  padding-left: 15px;
  // margin-top: 5px;
}
.AccList{
  height: 50px;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #ddd;
}
.AccPor{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 1px solid #ddd;
  object-fit: cover;
}
p{
  margin: 0px;
}
.accname{
  font-weight: bolder;
  color: #ED7D00 !important;
}
.accname1{
  font-weight: bolder;
  color: #649941 !important;
}
.loginBtn {  
  background: #fff;
  /* margin-top: 10px; */
  color: #649941;
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  width: 50%;
  float: right;
}
.addBtn{
  padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
    height: 60px;
    padding-top: 5px;
}
.bgF1{
  background-color: rgba(237, 125, 1, 0.3);
}
.msgText {
  position: absolute;
  bottom: 2%;
  z-index: 999;
  text-align: center;
  color: #fff;
  margin: auto;
  left: 0;
  right: 0;
  padding: 80px;
  font-size: 14px;
}
.copyP {
  background: rgba(0, 0, 0, 0.6);
  line-height: 30px;
  border-radius: 15px;
  margin: 0;
}

}
