page-image-type-modal {
  .protext {
    text-align: center;
    font-size: 16px;
    color: #649941;
    font-family: "Lato", sans-serif;
  }
  .selDiv {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .cantext {
    text-align: center;
    font-size: 14px;
    color: #ED7D00;
    font-family: "Lato", sans-serif;
  }
}
